
#navBar{
    height: 31px;
}

.movieBox{
    background-color: rgb(223, 209, 107);
    border: 2px solid #003B62;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 125px;
    width: 150px;
    display: inline-block;
}


.movieTitle{
    font-size: 25px;
    /* margin-bottom: 20px; */
}

.movieVote{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.block{
    display: inline-block;
}

.movieScore{
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.voted{
    border: 5px solid #eeff02;
}

.upVoteBox{
    background-color: rgb(107, 223, 134);
    height: 75px;
    width: 75px;
    border: 1px solid #003B62;
    margin-right: 45px;
    margin-left: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size:large;
    /* padding-right: 10px; */
}

.downVoteBox{
    background-color: rgb(223, 107, 107);
    height: 75px;
    width: 75px;
    border: 1px solid #003B62;
    margin:auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size:large;
}

.navButton{
    width: fit-content;
    height: 15px;
    float: left;
    border: 2px solid #003B62;
    padding: 5px;
    margin-right: 10px;
}

#main{
    background-color: rgb(223, 122, 64);
}

#visual{
    background-color: rgb(219, 110, 233);
}

#movie{
    background-color: rgb(184, 216, 75);
}

#worms{
    background-color: rgb(107, 145, 219);
}

#game{
    background-color: rgb(211, 30, 39);
}

#proc{
    background-color: rgb(254, 250, 30);
}

#visualContent{
    display: none;
}

#movieContent{
    display: none;
}

#wormContent{
    display: none;
}

#procContent{
    display: none;
}

#gameContent{
    display: none;
}



#left {
    background-color: rgb(80, 176, 80);
    position: relative;
    float: left;
    border: 2px solid #003B62;
    padding: 10px;
}

#requests {
    clear: both;
}

#middle {
    position: relative;
    float: left;
    width: auto;
}

#yellowMiddle{
    background-color: rgb(223, 209, 107);
    border: 2px solid #003B62;
    padding: 10px;
    width: fit-content;
}

.manipulations {
    background-color: rgb(240, 230, 157);
    border: 1px solid #003B62;
    padding: 10px;
}

.acceptButton{
    background-color: rgb(64, 255, 0);
    height: 45px;
    width: 45px;
    border: 1px solid #003B62;
    display: inline-block;
    margin:auto;
}

.rejectButton{
    background-color: rgb(255, 0, 0);
    height: 45px;
    width: 45px;
    border: 1px solid #003B62;
    display: inline-block;
    margin:auto;
}

.buttonGroup{
    display: inline-block;
    font-size: x-small;
    /* overflow-wrap: break-word; */
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}


#p1{
    position: relative;
    float: right;
}

#p2{
    position: relative;
    float: right;
}


.calculations {
    background-color: rgb(160, 225, 160);
    
    border: 1px solid #003B62;
    padding: 10px;
}

#scores {
    background-color: rgb(144, 214, 238);
    position: relative;
    float: right;
    border: 2px solid #003B62;
    padding-left: 10px;
}

#gamesDisplay {
    background-color: rgb(186, 223, 236);
    position: relative;
    float: right;
    border: 2px solid #003B62;
    padding: 10px;
}

.winRow{
    background-color: rgb(148, 201, 130);
}

.loseRow{
    background-color: rgb(159, 107, 107);
}

td {
    padding: 5px;
}

#myCanvas{
    display: block;
    border: 2px solid #000000;
    /* width: 80%; */
    /* height: 80%; */
}

#wormCanvas{
    display: block;
    border: 2px solid #000000;
}

#procCanvas{
    display: block;
    border: 2px solid #000000;
}

.requestBox {
    background-color: rgb(200, 199, 187);
    border: 2px solid #003B62;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    height: 100px;
    width: 200px;
    display: inline-block;
    
}